html {
  font-family:arial,sans-serif;
  overflow-x: hidden;
}

body {
  /* background-image: url(code.jpg) !important; */
}

h1 {
  font-weight: bold;
}

h2, h3, h4, h5 {
  color: #505050;
  margin-top: 4px;
  margin-bottom: 6px;
}

h2 {
  padding-left: 30px;
  border-bottom: 1px solid #000;
}

h2 span {
  border-bottom: 0.2em solid #000;
}

button {
  background-color: #40E0D0;
  /* font-weight: 700; */
  color: black;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 8px;
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  /* min-width: 130px; */
  cursor: pointer;
}

button:hover {
  background: #00CED1; 
}

.chat {
  border: 2px solid #CCCCCC;
  margin: 10px auto;
  width: 85%;
  height: 650px;
}

span.chat-info {
  font-style: oblique;
  color: gray;
}

textarea.chat-noedit {
  border: 2px solid #73A6FF;
}

.chat-user {
  color: #DD7200;
  font-weight: bold;
  padding-right: 0.2em;
}

.chat-users label {
  margin-left: 0.2em;
}

.chat-highlight {
  font-weight: bold;
}

.chat-msgs {
  margin: 0 1px;
}

.chat-users {
  width: 12ex;
}

.dimensions {
  height: 700px;
  width: 100%;
}

.chat-msg {
  width: fit-content;
  padding: 0 10px;
  border: 0 solid;
  background: #e0ebed;
  padding: 4px;
  border-radius: 6px;
  /* border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px; */
}

.msg-right {
  margin: 5px 5px 5px auto;
}

.chat-users div {
  margin: 3px 3px 3px 6px;
}

.chat-users div .chat-self {
  font-weight: bold;
}

.chat-dialogue-name {
  color: blue;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.chat-search {
  width: 200px;
}

.text-in-msg {
  font-size: medium;
  padding: 4px;
}

.chat-time {
  font-size: small;
  text-align: left;
  font-weight: 100;
  color: gray;
  font-style: italic;
}

.text-link {
  text-decoration: underline;
  color: #2a5885;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.dialogue-block {
  border: 2px solid gray;
  border-radius: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}

.dialogue-name {
  font-size: 120%;
  font-weight: 500;
  font-family: system-ui, serif;
}

.dialogue-name-self {
  color: #B42600;
}

.dialogue-code {
  color: gray;
  font-style: italic;
}

.attached-code {
  background-color: darkseagreen;
}

.auth-buttons {
  min-width: 130px;
  font-weight: 700;
  margin-top: 20px !important;
}

.signup-button {
  margin-left: 130px !important;
}

.auth-block {
  background: linear-gradient(265deg, #398dea, #8A2BE2,	#40E0D0);
  background-size: 800% 800%;
  color:white;
  -webkit-animation: AnimationName 28s ease infinite;
  -moz-animation: AnimationName 28s ease infinite;
  animation: AnimationName 28s ease infinite;
  flex: 0 0 auto !important;
  min-width: 250px;
  border-radius: 6px;
  min-height: 110px;
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
  padding: 12px 16px !important;
}

.pass-log {
  align-self: flex-end;
  max-width: 200px;
  min-width: 200px;
  margin: 0px 8px !important;
  border-radius: 6px;
}

.status-msg {
  color:white !important;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 15px !important;
}

img {
  border-top-color: antiquewhite;
  border-top-width: 10px;
  border-style: dotted;
  padding-top: 70px;
  padding-bottom: 40px;
}

.source-view {
  background-color: white;
  overflow: auto;
  white-space: pre;
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
  font-size: 85%;
  color: #444444;
  border: 1px solid #C3D9FF;
  zoom: 1;
}

.Wt-panel .body {
  background-color: #F0F0F0 !important;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

.block-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
